@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-sorange: 35deg 77% 62%;
    --color-sred: 5deg 85% 63%;
    --color-owhite: 36deg 100% 99%;
    --color-gblue: 233deg 8% 79%;
    --color-dgblue: 236deg 13% 42%;
    --color-vdblue: 240deg 100% 5%;
  }
}
